@tailwind base;
@tailwind components;
@tailwind utilities;
/* global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  font-family: "Instrument Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.HeadingM {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}

.HeadingS {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.BodyM {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.BodyS {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}

/* Estiliza a scrollbar vertical */
.custom_scrollbar::-webkit-scrollbar {
  width: 0.625rem; /* Largura da scrollbar */
}

/* Estiliza o fundo da scrollbar */
.custom_scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Estiliza o botão (thumb) da scrollbar */
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #633cff;
  border-radius: 0.3125rem; /* Borda arredondada */
}

/* Muda a cor do botão (thumb) da scrollbar quando é hover */
.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7555f5;
}

@media (max-width: 27.5rem) {
  .wrapper {
    padding: 1rem !important;
  }
}

@media (max-width: 21.25rem) {
  .wrapper_nopd {
    padding: 0rem !important;
  }
}
