.link_input {
  background: url("/assets/icon-link.svg") 1rem no-repeat;
  padding-left: 2.625rem;
}

.link_input:focus {
  border: unset !important;
  background-position: -1.25rem;
  padding-left: 1rem;
  outline: 0.0313rem solid #633cff;
  box-shadow: 0rem 0rem 2rem 0rem rgba(99, 60, 255, 0.25);
}
