.image {
  filter: brightness(1000%);
}

.error {
  border: 4px solid red !important;
}

.container_loading svg {
  top: 54% !important;
}

.container_upload_image {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

@media (max-width: 41.25rem) {
  .container_upload_image,
  .profileImage {
    left: 0rem !important;
    bottom: 0.125rem;
  }
}
